@import "tailwindcss";
@import "@heroui/styles";


@keyframes slideLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}



:root {
    /* Override any color variable */
    --accent: oklch(0.7 0.25 260);
    --success: oklch(0.65 0.15 155);
}